.headerDiv{
    background-color:#3B3B3A;
    color:white;
    height:50px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.headerDate {
    background-color: #434343;
    height: auto;
    padding: 10px;
}

img{
width: 30px;
height: 30px;
padding-top: 10px;
margin-left: 10px;}

.dashboardTitle{
    padding-left: 10px;
}